<!DOCTYPE html>
<html>
<head>
	<title>login</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style type="text/css">
        .container{
            width: 350px;
        }
    </style>
</head>
<body>
		<nav class="navbar navbar-dark bg-dark">
        	<a class="navbar-brand text-info" href="#">login</a>
    	</nav>
	<div class="col mt-4 mx-auto text-primary font-italic ">
      {% with error_messages = get_flashed_messages() %}
        {% if error_messages %}
        <ul>
            {% for error_message in error_messages %}
            <li>{{ error_message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

      {% if session['chances'] > 0 %}

      <form method="POST" action="/login">
        <label for="username">username</label><br>
        <input type="text" class="form-control mx-auto " name="username" placeholder="Enter username"><br>

		<label for="password">password</label><br>
        <input type="password" class="form-control mx-auto " name="password" placeholder="Enter password"><br>

        <button type="submit" class="btn btn-outline-primary  btn-block">Login</button>
      </form>
      {% endif %}
    </div>



</body>
</html>